# Ignore all cache files
*.pyc
*.mo
bin/
lib/
include/
media/
configuration.py
migrations/
.vscode/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# media files
# frontend/public/static

# dependencies

/.pnp
.pnp.js

static/

.env

venv

db.sqlite
