# Ignore all cache files
*.pyc
*.mo
bin/
lib/
include/
media/
configuration.py
migrations/
.vscode/
db_backups

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# media files
# frontend/public/static


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
#static/js/main\\.[^\\.]+\\.js
#static/css/main\\.[^\\.]+\\.css
static/css/
static/js/
static/
frontend-ui/package-lock.json

.env

venv

db.sqlite